 <!-- Navbar -->
 <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">
  
      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="#" target="_blank">
        <strong class="teal-text">হকার.কম</strong>
      </a>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect">
            <span class="badge teal z-depth-1 mr-1"> 1 </span>
            <i class="fas fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block"> Cart </span>
          </a>
        </li>
      </ul>
  
      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        <!-- Left -->
        <ul class="navbar-nav ml-auto"></ul>
  
        <!-- Right -->
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link waves-effect"
              target="_blank">
              <i class="far fa-user-circle mr-2"></i>প্রোফাইল
            </a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link rounded waves-effect"
              target="_blank">
              <i class="fas fa-paperclip mr-2"></i>যোগাযোগ
            </a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link rounded waves-effect"
              target="_blank">
              <i class="far fa-tired mr-2"></i>অভিযোগ
            </a>
          </li>
        </ul>
  
      </div>
  
    </div>
  </nav>
  <!-- Navbar -->